{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <h1>{{ product.name }}</h1>
    <p>Price: {{ product.price }}</p>
    <p>Quantity: {{ product.getQuantity() }}</p>

{% endblock %}